

<p> Email: <%= current_user.email %> </p>
<p> Name: <%= current_user.name %></p>
<p> School: <%= current_user.school %></p>
<p> Role: <%= current_user.role %></p>
<%= current_user.name %>
<h1> Tutors </h1> 
<p> we are working on shit </p>