<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @avatar.description %>
</p>

<p>
  <strong>String:</strong>
  <%= @avatar.string %>
</p>

<%= link_to 'Edit', edit_avatar_path(@avatar) %> |
<%= link_to 'Back', avatars_path %>
